:root {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


@media only screen and (min-device-width:320px) {
    .container {
        display: grid;
    }

    .part1 {
        grid-column: 1;
        grid-row: 3;
        margin: 5%;
        font-size: 1.1rem;
    }

    .logo {
        grid-column: 1;
        grid-row: 1/2;
        margin: 5%;
    }

    .introduction {
        font-weight: 900;
        font-size: 2.8rem;
        margin: 0%;
    }

    .keypoints {
        display: flex;
        flex-wrap: nowrap;
        margin-block-start: 2%;
        margin-block-end: 2%;
    }

    .checkmark {
        width: 80%;
    }

    .viewCampgroundsButton {
        background-color: black;
        color: white;
        text-align: center;
        padding: 15px 0%;
        width: 70%;
        margin-top: 5%;
        border-radius: 5px;
    }

    .sponsorsContainer {
        margin-top: 10%;
    }

    .sponsorsList {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .campImage {
        grid-column: 1;
        grid-row: 2/3;
    }

    .tabletMobileLandingImage {
        display: block;
        width:105%;
    }

    .desktopLandingImage {
        display: none;
    }
}


@media only screen and (min-device-width:768px) {
    .container {
        display: grid;
    }

    .part1 {
        grid-column: 1;
        grid-row: 3;
        margin: 5%;
        font-size: 1.2rem;
    }

    .logo {
        grid-column: 1;
        grid-row: 1/2;
        margin: 5%;
    }

    .introduction {
        font-weight: 900;
        font-size: 3.125rem;
        margin: 0%;
    }

    .keypoints {
        display: flex;
        flex-wrap: nowrap;
        margin-block-start: 2%;
        margin-block-end: 2%;
    }

    .checkmark {
        width: 80%;
    }

    .viewCampgroundsButton {
        background-color: black;
        color: white;
        text-align: center;
        padding: 15px 0%;
        width: 30%;
        margin-top: 3%;
        border-radius: 5px;
    }

    .sponsorsContainer {
        margin-top: 10%;
    }

    .sponsorsList {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .campImage {
        grid-column: 1;
        grid-row: 2/3;
    }

    .tabletMobileLandingImage {
        display: block;
    }

    .desktopLandingImage {
        display: none;
    }
}


@media only screen and (min-device-width:1024px) {
    .container {
        display: grid;
        grid-template-columns: 55% 45%;
    }

    .part1 {
        grid-column: 1;
        grid-row: 2/5;
        margin: 0% 15%;
    }

    .logo {
        grid-column: 1;
        grid-row: 1/2;
        margin: 5% 15%;
    }

    .introduction {
        font-weight: 900;
        font-size: 50px;
        margin: 15% 0% 5% 0%;
    }

    .keypoints {
        display: flex;
        flex-wrap: nowrap;
        margin-block-start: 0.7em;
        margin-block-end: 0.7em;
    }

    .checkmark {
        width: 80%;
    }

    .viewCampgroundsButton {
        background-color: black;
        color: white;
        text-align: center;
        padding: 5% 0%;
        font-size: 15px;
        width: 40%;
        margin-top: 1%;
        border-radius: 5px;
    }

    .sponsorsContainer {
        margin-top: 10%;
    }

    .sponsorsList {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .campImage {
        grid-column: 2;
        grid-row: 1/3;
    }

    .tabletMobileLandingImage {
        display: none;
    }

    .desktopLandingImage {
        display: inline-block;
        vertical-align: middle;
    }
}