.container {
    overflow: hidden;
    margin: 0%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.signupContainer {
    margin: 1% 10% 0% 10%;
}

.review {
    width: 40%;
    background-color: #F2EFEE;
}

.logowithBackButton {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.introduction {
    font-weight: 900;
    font-size: 30px;
    margin: 15% 0% 5% 0%;
}

.backtocamp {
    font-size: 18px;
    color: #555555;
    font-weight: 500;
}

.label {
    color: #555555;;
    font-size: 17px;
}

input {
    width: -webkit-fill-available;
    display: block;
    padding: 2.5% 2%;
    margin: 2% 0%;
}

.createAccountButton {
    background-color: black;
    color: white;
    text-align: center;
    padding: 3% 0%;
    font-size: 20px;
    border-radius: 5px;
}

.blueButton {
    color: #4666ff;
    text-decoration: underline;
    font-weight: bolder;
}

::placeholder {
    margin-left: 0px;
}

::-webkit-input-placeholder {
    margin-left: 0px;
}

.commentSection {
    padding: 35% 25%;
}

.comment {
    font-size: 23px;
    font-weight: bold;
    line-height: 32px;
}

.user {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.name {
    font-weight: bold;
}

.designation {
    font-weight: normal;
    color: #808080;
}
