.container {
    overflow: hidden;
    margin: 0%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.logo{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.part1{
    margin: 1% 10% 0% 10%;
    height:100vh;
}

.introduction{
    font-weight: 900;
    font-size: 30px;
    margin: 15% 0% 5% 0%;
}

.viewCampgroundsButton{
    background-color: black;
    color: white;
    text-align: center;
    padding: 3% 0%;
    font-size: 20px;
    border-radius: 5px;
}

.campImage{
    width: 50%;
}