:root {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.container{
    margin: 50px 100px;
    font-size: 18px;
}

.header{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    font-size: 1.3rem;
}


/* .logoAndHomeButton{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 15%;
}

.home{

}

.loggedOut{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.loggedIn{
    display:none;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.createAnAccount{
    margin-left: 10px;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 5px;
} */

.searchbar{
    padding: 50px 700px 50px 50px;
    background-color: pink;
    margin: 5% 0% 10% 0%;
    border-radius: 5px;
}

.welcomeMessage{
    font-weight: 900;
    font-size: 37px;
    margin-block-start: 0em;
    margin-block-end: 0.5em;
}

.search{
    height: 40px;
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    width: 270px;
    padding-left: 32px;
    background-image: url('/Assets/Search Icon.svg');
    background-repeat: no-repeat;
    background-position: 7px center;
}

.searchButton{
    display: inline-block;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

.addNewCampground{
    text-decoration: underline;
}

.campGrounds{
    display:grid;
    grid-template-columns: repeat(4, 25%);
    grid-auto-flow: dense;
}

.footer{
    margin-top: 50px;
}
