
@media only screen and (min-device-width:320px) {
    .footer{
        margin-top:20%;
    }
    
}

@media only screen and (min-device-width:768px) {
    .footer {
       margin-top:5%;
    }
}

@media only screen and (min-device-width:1024px) {
    .footer {
        margin-top: 10%;
    }
}

