:root {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

@media only screen and (min-device-width:320px) {
    .container {
        margin: 10% 5%;
        font-size: 18px;
    }

    /* .header {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
    }

    .logoAndHomeButton {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .home {
        margin-left: 20px;
    }

    .loggedInOrWithoutLoginIn {
        display: none;
    }

    .createAnAccount {
        display: none;
    } */

    .mainBody {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: space-between;
        row-gap: 25px;
        margin-top: 10%;
    }

    .map {
        border: solid black;
        padding: 10%;
        height: 350px;
    }

    .campDescriptionAndComment {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
        row-gap: 25px;
        
    }

    .campImageWithDescription {
        border-style: solid;
        padding: 10%;
    }

    .campImageWithDescription p:not(:last-child) {
        margin-block: 0.85rem;
    }

    .campImage {
        width: 100%;
        height: 100%;
    }

    .campName {
        font-weight: bold;
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    .price {
        float: right;
        font-size: 1.2rem;
        font-weight: normal;
    }

    .campgroundInformation {
        margin: 3% 0%;
        color: gray;
        font-size: 1.25rem;
    }

    .campgroundDefinedByUser {
        font-style: italic;
        font-size: 1.25rem;
        margin-block: 1rem 0rem;
    }


    .campComments {
        border-style: solid;
        padding: 10%;
    }

    .commentZone {
        overflow-y: scroll;
    }

    .commentZone::-webkit-scrollbar {
        display: none;
    }

    .userNameandComment {
        margin: 0% 0% 3% 0%;
        border-bottom: solid black;
    }

    .userName {
        font-weight: bold;
        font-size: 1.25rem;
    }

    .time {
        float: right;
        font-weight: normal;
        color: gray;
    }

    .userCommentForCampground {
        font-size: 1.25rem;
        color: gray;
    }

    .leaveAReviewButton {
        background-color: black;
        display: flex;
        float: left;
        align-items: center;
        color: white;
        padding: 5px 15px;
        border-radius: 5%;
        column-gap: 5px;
    }

}

@media only screen and (min-device-width:768px) {
    .container {
        margin: 5%;
    }

    /* .header {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
    }

    .logoAndHomeButton {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .home {
        margin-left: 20px;
    }

    .loggedInOrWithoutLoginIn {
        display: none;
    }

    .createAnAccount {
        display: none;
    } */

    .mainBody {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: space-between;
        margin-top: 7%;
    }

    .map {
        border: solid black;
        padding: 7%;
        height: 400px;
    }

    .campDescriptionAndComment {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
        row-gap: 25px;
       
    }

    .campImageWithDescription {
        border-style: solid;
        padding: 7%;
    }
    .campImageWithDescription p:not(:last-child) {
        margin-block: 1rem;
    }

    .campImage {
        width: 100%;
        height: 100%;
    }

    .campName {
        font-weight: bold;
        font-size: 1.6rem;
    }

    .price {
        float: right;
        font-size: 1.2rem;
    }

    .campgroundInformation {
        color: gray;
        font-size: 1.25rem;
    }

    .campgroundDefinedByUser {
        font-style: italic;
        font-size: 1.25rem;
        margin-block: 1.5rem 0rem;
    }

    .campComments {
        border-style: solid;
        padding: 7%;
    }

    .commentZone {
        overflow-y: scroll;
    }

    .commentZone::-webkit-scrollbar {
        display: none;
    }

    .userNameandComment {
        margin: 0% 0% 3% 0%;
        border-bottom: solid black;
    }

    .userName {
        font-weight: bold;
        font-size: 1.25rem;
    }

    .time {
        float: right;
        font-weight: normal;
        color: gray;
    }

    .userCommentForCampground {
        font-size: 1.25rem;
        color: gray;
    }

    .leaveAReviewButton {
        background-color: black;
        display: flex;
        float: left;
        align-items: center;
        color: white;
        padding: 5px 20px;
        border-radius: 5%;
        column-gap: 8px;
    }

}

@media only screen and (min-device-width:1024px) {
    .container {
        margin: 5%;
    }

    /* .header {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
    }


    .logoAndHomeButton {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 15%;
    }

    .home {
        margin-left: 20px;
    }

    .loggedInOrWithoutLoginIn {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .createAnAccount {
        margin-left: 10px;
        background-color: black;
        color: white;
        padding: 20px;
        border-radius: 5px;
    } */

    .mainBody {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-between;
        column-gap: 1%;
        margin-top: 5%;
        /* display: grid;
        grid-template-columns: 40% 60%; */
    }

    .map {
        flex: 5;
        width: 100%;
        height: 500px;
        padding: 4%;
        border: solid;
        /* grid-column: 1/2;
        width: 80%;
        padding: 8%;
        height: 500px;
        border: solid; */
    }

    .campDescriptionAndComment {
        /* grid-column: 2/2;
        display: grid;
        grid-template-rows:65% 35% ; */
        flex: 12;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
        row-gap: 20px;
    }

    .campImageWithDescription {
        /* grid-row: 1/2; */
        border-style: solid;
        padding: 6%;
    }

    .campImageWithDescription p:not(:last-child) {
        margin-block: 1rem;
    }

    .campImage {
        width: 100%;
        height: 50%;
    }


    .campName {
        font-weight: bold;
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    .price {
        float: right;
        font-size: 1.2rem;
    }

    .campgroundInformation {
        color: gray;
        font-size: 1.2rem;
        /* overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2; */
    }

    .campgroundDefinedByUser {
        font-style: italic;
        font-size: 1.25rem;
        margin-block: 1.5rem 0rem;
    }


    .campComments {
        /* grid-row: 2/2; */
        border-style: solid;
        padding: 6%;
    }

    .commentZone {
        overflow-y: scroll;
        height: 70%;
    }

    .commentZone::-webkit-scrollbar {
        display: none;
    }

    .userNameandComment {
        margin: 0% 0% 3% 0%;
        border-bottom: solid black;
    }

    .userName {
        font-weight: bold;
        font-size: 1.25rem;
    }

    .time {
        float: right;
        font-weight: normal;
        color: gray;
    }

    .userCommentForCampground {
        font-size: 1.25rem;
        color: gray;
    }

    .leaveAReviewButton {
        background-color: black;
        display: flex;
        float: right;
        align-items: center;
        color: white;
        padding: 5px 20px;
        border-radius: 5%;
    }
}